// pc端样式

@media screen and (min-width:640px) {
    .wrap{
        width: 370px;
        height: 450px;
        background: white;
        margin: 0 auto;
        border: 1px solid black;
        margin-top: 150px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .title{
            font-size: 32px;
        }
        .inputText{
            border: 1px solid black;
            border-radius: 5px;
            font-size: 20px;
            width: 100%;
            height: 50px;
            text-indent: 1em;
            margin-top: 2vh;
        }
        .btn{
            width: 100%;
            height: 55px;
            background: orangered;
            border: none;
            outline: none;
            margin-top: 2vh;
        }

        .viewText{
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            margin-top: 2vh;
            .onResiges{
                color: blue;
            }
        }
        .iconMenu{
            text-align: center;
            
            .iconTitle{
                font-size: 12px;
                position: relative;
                background: #ffffff;

            }
            .iconTitle:after , .iconTitle:before{
                position: absolute;
                top: 50%;
                background: #ddd;
                content: "";
                height: 1px;
                width: 33%;
            }
            .iconTitle:after{
                right: 0;
            }
            .iconTitle:before{
                left: 0;
            }
        }
        .icon{
            width:50px;
            height:50px;
            font-style:normal;
            margin-top: 3vh;
            .img{
                width:50px;
                height:50px;
                display:block;
                font-size:0;
            }
        }
    }
}

//h5样式

@media screen and (min-width: 320px) and (max-width: 640px){
    .wrap{
        width: 70vw;
        height: 55vh;
        background: white;
        margin: 0 auto;
        border: 1px solid black;
        margin-top: 5vh;
        padding: 1vh 2vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .title{
            font-size: 40px;
        }
        .inputText{
            border: 2px solid black;
            border-radius: 5px;
            font-size: 20px;
            width: 100%;
            height: 65px;
            text-indent: 1em;
            margin-top: 3vh;
        }
        .btn{
            width: 100%;
            height: 65px;
            background: orangered;
            border: none;
            outline: none;
            margin-top: 3vh;
        }

        .viewText{
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            margin-top: 3vh;
            .onResiges{
                color: blue;
            }
            
        }
        .iconMenu{
            text-align: center;
            
            .iconTitle{
                font-size: 12px;
                position: relative;
                background: #ffffff;

            }
            .iconTitle:after , .iconTitle:before{
                position: absolute;
                top: 50%;
                background: #ddd;
                content: "";
                height: 2px;
                width: 33%;
            }
            .iconTitle:after{
                right: 0;
            }
            .iconTitle:before{
                left: 0;
            }
        }
        .icon{
            width:50px;
            height:50px;
            font-style:normal;
            margin-top: 3vh;
            .img{
                width:50px;
                height:50px;
                display:block;
                font-size:0;
            }
        }
    }
}
