.at-checkbox__option_wrap{
    padding: 0;
    border: none;
    outline: 0;
}

.at-checkbox__option{
    padding: 0;
    border: none;
    outline: 0;
    
}

.at-checkbox__option_container{
    display: flex;
    align-items: center;
    background: transparent;
    display: flex;
}

.at-checkbox{
    background: transparent;
    display: inline;
}

.data-wrap-review{
    max-width: 640Px;
    margin: auto;
    position: relative;
    overflow: hidden;
    .hide-wrap{
        width: 100%;
        height: 100vh;
        background: rgba($color: gray, $alpha: 0.4);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        .img-wrap{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .main-content{
        margin-top: 110px;
        border-bottom: 20px solid #fff;
        .task_demand{
            padding: 0 6.5%;
            .panel__title{
                font-size: 38px;
                color:gray;
                margin-top: 50px;
                margin-bottom: 15px;
            }
            .panel__title::before{
                content: "";
                width: 4PX;
                height: 45px;
                background: #FF8C00;
                display: inline-block;
                position: absolute;
                left: 0px;
                top: 115px;
            }
            .title{
                font-size: 40px;
            }
            .content-list{
                font-size: 30px;
                color:gray;
                margin-top: 15px;
            }
            .content-img{
                width: 100%;
                height: 250px;
                background:#F5F5F5	;
                border-radius: 5px;
                margin-top: 15px;
                text-align: center;
                .img{
                    height: 250px;
                    width: 70%;
                    margin:0 auto;
                    img{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .user-photo{
        width: 100%;
        background:	#F5F5F5;
        padding-top:20px;
        .user-photo-wrap{
            width: 95%;
            background: #fff;
            margin: auto;
            border-radius: 10px;
            .title{
                width: 90%;
                height: 70px;
                padding: 10px 4vw;
                display: flex;
                align-items: center;
                .font{
                    font-size: 30px;
                    margin-left: 20px;
                }
            }
            .take-photo .show-item{
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin-top: 10px;
                flex-wrap: wrap;
                .img-item{
                    width: 40%;
                    height:270px;
                    background:#F5F5F5	;
                    border-radius: 20px;
                    color:#FF8C00;
                    font-size: 25px;
                    margin-top: 20px;
                    position: relative;
                    .showIcon{
                        width: 100%;
                        height:270px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .selectImg{
                            position: absolute;
                            color: transparent;
                            width: 100%;
                            height: 270px;
                            right: 0;
                            top: 0;
                            opacity: 0;
                        }
                    }
                    .showImg{
                        width: 100%;
                        height:270px;
                        .img{
                            width: 100%;
                            height: 75%;
                            padding: 0;
                            text-align: center;
                            
                        }
                        .delete{
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            border: 1px solid red;
                            font-size: 45px;
                            line-height: 43px;
                            text-align: center;
                        }
                    }
                    
                }
                .eg{
                    width: 40%;
                    height:270px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    .eg-item{
                        width: 45%;
                        height: 15%;
                        font-size: 25px;
                        border-top-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        background:#FF8C00;
                        text-align: center;
                        color: #fff;
                    }
                    .img{
                        width: 100%;
                        height: 75%;
                        text-align: center;
                        padding: 0;
                        margin-top: 5px;
                    }
                }
            }
            .info{
                width: 90%;
                height: 50px;
                background: #F5F5F5	;
                margin:30px auto 0;
                font-size: 23px;
                line-height: 50px;
                text-indent: 10px;
                border-radius: 5px;
                color: gray;
                position: relative;
            }
            
            .info:before{
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                left: 100px;
                top: -20px;
                border-left: 15px solid #F5F5F5;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                transform: rotate(-90deg);
            }
            .cenggao{
                width: 100%;
                height: 30px;
            }
        }
    }
    .top{
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 640PX;
        height: 20px;
        background: #fff;
        .top-info{
            width: 100%;
            height: 20px;
            border-radius: 10px;
            color: #FF8C00;
            background:#FFEFD5;
            text-align: center;
            line-height: 20px;
            font-size: 18px;
            margin: 0 auto;
        }
    }
    .bottom-btn{
        position: fixed;
        bottom: 0px;
        width: 100%;
        max-width: 640PX;
        height: 10vh;
        border-top: 5px solid #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        .btn1{
            width: 35%;
            height: 7vh;
            line-height: 7vh;
            outline: none;
            border: none;
            background: red;
            color: #fff;
        }
        .btn1:last-child{
            background: #FFCC00;
        }
    }
    .cengHeight{
        width: 100%;
        height: 10vh
    }
}
