//pc端
// @media screen and (min-width:992px) {
//     .at-tabs{
//         margin: auto;
//         width: 992px;
//     }
// }

.list-wrap{
    max-width: 640PX;
    margin: auto;
    position: relative;
}
.logout{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  margin: auto;
}
