// pc端样式

@media screen and (min-width:640px) {
  .attribute_task {
    width: 100vw;
    position: relative;
    .useSelector{
      padding-top: 200px;
      width: 100%;
      .useSelectorWrap{
        margin: auto;
        width: 600px;
        position: relative;
        z-index: 100;
        padding-top: 30px;
        background: #fff;
        .footer{
          display: flex;
          justify-content: space-around;
          height: 100px;
          margin-top: 30px;
          .btn{
            width: 150px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            font-size: 25px;
            border-radius: 5px;
            color: #fff;
          }
          .btn:first-child{
            background: #1AAD19;
          }
          .btn:last-child{
            background: #E64340;
          }
        }
      }
    }

    .backBtn {
      width: 90vw;
      height: 7vh;
      position: absolute;
      top: 0;
      left: 0;
    }

    .imgItem {
      width: 90vw;
      height: 93vh;
      overflow: scroll;
      background: gray;
      position: absolute;
      top: 7vh;
      left: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }

      .workImg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        svg .rect {
          fill: 'transparent';
          stroke: 'black';
          stroke-width: 1;
        }
      }
    }

    .btnItem {
      width: 9vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      top: 7vh;
      right: 0;

      Button {
        width: 7vw;
        margin-top: 30px;
      }
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 640px) {
  .attribute_task {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .useSelector {
      width: 100%;
      position: absolute;
      padding-top: 300px;
      .useSelectorWrap {
        margin: auto;
        width: 90%;
        position: relative;
        z-index: 100;
        padding-top: 30px;
        border: 1px solid black;
        background: #fff;

        .footer {
          display: flex;
          justify-content: space-around;
          height: 120px;
          margin-top: 40px;

          .btn {
            width: 200px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            font-size: 30px;
            color: #fff;
            border-radius: 5px;
          }

          .btn:first-child {
            background: #1AAD19;
          }

          .btn:last-child {
            background: #E64340;
          }
        }
      }
    }

    .backBtn {
      width: 100%;
      height: 7vh;
      position: relative;
      z-index: 2;
    }

    .imgItem {
      width: 100vw;
      height: 85vh;
      background: gray;
      position: relative;
      z-index: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }

      .workImg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    .btnItem {
      width: 100vw;
      height: 8vh;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

        .btn {
          display: inline-block;
          text-align: center;
          margin: 0;
          padding: 0;
          margin-left: 10px;
          height: 60px;
          line-height: 60px;
          outline: 0;
        }


      Button {
        width:auto;
        height: 5vh;
        line-height: 5vh;
        margin: 0 30px;
      }
    }
  }
}
