// pc端样式

@media screen and (min-width:640px) {
    .count{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .backBtn{
            width: 90vw;
            height: 7vh;
            position: absolute;
            top:0;
            left: 0;
        }
        .imgItem{
            width: 90vw;
            height: 93vh;
            overflow: scroll;
            background: gray;
            position: absolute;
            top: 7vh;
            left: 0;
            img{
                position: absolute;
                top: 0;
                left: 0;
            }
            .workImg{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
        .btnItem{
            width: 9vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: absolute;
            top: 7vh;
            right: 0;
            Button{
                width: 7vw;
                margin-top: 30px;
            }
            .changeR{
                font-size: 15px;
                border: 1px solid black;
                width: 7vw;
                margin-top: 30px;
                text-indent: .2em;
                height: 35px;
            }
        }
    }
}

// //h5样式

// @media screen and (min-width: 320px) and (max-width: 640px){
//     .index{
//         width: 100vw;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         .imgItem{
//             width: 100vw;
//             height: 85vh;
//             background: gray;
//             position: relative;
//             img{
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//             }
//             .workImg{
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 z-index: 1;
//             }
//         }
//         .btnItem{
//             width: 100vw;
//             height: 15vh;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             Button{
//                 width: 20vw;
//                 height: 8vh;
//                 margin: 0 30px;
//             }
//         }
//     }
// }
